<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="SASF" version="2.5">
  <display-name>SASF</display-name>
  <welcome-file-list>
    <welcome-file>index2.jsp</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>SocialAuthSecurityFilter</filter-name>
    <filter-class>de.deltatree.social.web.filter.impl.SocialAuthSecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SocialAuthSecurityFilter</filter-name>
    <url-pattern>/SAF/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>properties</param-name>
    <param-value>properties.ini</param-value>
  </context-param>
</web-app>